.fondo {
    background-color: salmon;
}

.actividades {
    color: blue;
    font-weight: bold;
    text-align: center;
}

.habilidades {
    color: aquamarine;
    font-weight: bold;
    text-align: center;
}

.configuracionTitulo{
    font-weight: bold;
    margin: 10px 5px 10px 5px;
    text-align: center;
}

#demo {
    background-color: salmon;
}

