.fondo {
    background: #5614B0;  
    background: -webkit-linear-gradient(to right, #DBD65C, #5614B0); 
    background: linear-gradient(to right, #DBD65C, #5614B0); 
}

.actividades {
    color: blue;
    font-weight: bold;
    text-align: center;
}

.habilidades {
    color: aquamarine;
    font-weight: bold;
    text-align: center;
}

.configuracionTitulo{
    font-weight: bold;
    margin: 10px 5px 10px 5px;
    text-align: center;
    font-size: xx-large;
    color: red;
}

#demo {
    background-color: salmon;
}
